*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  nav{
    display:flex;
    justify-content: space-around;
    
    
  }

  .navbar{
    box-shadow:2px 5px grey;
    width:1450px;
    height:5vh;
    z-index:1;
    position:fixed ;
    top:0;
    grid-area:navbar;
    background-color:rgb(248, 243, 243);
  }
  nav ul{
    display: flex;
    gap: 2em;
    list-style: none;
    
  }
  nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
  }
  nav ul li a:hover{
    color: blue;
  }
  nav h1{
    font-size: 40px;
    color: red;
    margin-top: -5px;
    text-shadow: 2px 2px 3px black;
    text-decoration: none;
  }
  button{
    width: 100px;
    background-color: aquamarine;
    border-radius: 7px;
    height: 30px;
    font-size: 20px;
  }
  #pa1{
    width: 60%;
    margin-top: 5em;
    margin-left: 18em;
    
  }
  #pa1 nav:hover{
    background-color: aquamarine;
  }
  #pa1 h1{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  #pa1 nav{
    background-color: rgb(239, 235, 230);
    box-shadow: 2px 2px 2px rgb(56, 42, 42);
    padding: 20px;
    border-radius: 10px;
  }
  nav h2{
    font-size: 20px;
  }
  #pa1 span{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-left: 8px;
    width: 40px;
    border-radius: 10px;
  }
  .img{
    height: 400px;
    width: 1100px;
    margin-left: 10em;
    margin-top: 10px;
  }
  .sai h1{
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .sai{
    margin-top: 50px;
  }
  .loki{
    background-image: url("99.jpg");
    width:370px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    border-radius: 10px;
    
  }
  .loki1{
    background-image: url("96.jpg");
    width:370px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    border-radius: 10px;
    
  }
  .loki2{
    background-image: url("97.jpg");
    width:370px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    border-radius: 10px;
    
  }
  .loki3{
    background-image: url("98.jpg");
    width:370px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center ;
    border-radius: 10px;
    
  }
  #qw{
    display: flex;
    gap: 7em;
    margin-left: 320px;
    
  
  }
  .loki h3{
    color: white;
    padding: 20px;
  }
  .loki span{
    
    padding: 12px; 
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .loki1 h3{
    color: white;
    padding: 20px;
  }
  .loki1 span{
    
    padding: 12px; 
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .loki2 h3{
    color: white;
    padding: 20px;
  }
  .loki2 span{
    
    padding: 12px; 
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  .loki3 h3{
    color: white;
    padding: 20px;
  }
  .loki3 span{
    
    padding: 12px; 
    border: 2px solid white;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
  #deepu{
    display: flex;
    justify-content: space-between;
    margin: 5em;
  }
  
  #deepu img{
    width: 300px;
    height: 350px;
  }
  .hi img{
  width: 400px;
  height: 400px;
  border-radius: 3em;
  }
  .hi{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  #hlo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: rgb(245, 238, 238);
    border-radius: 1em;
    box-shadow: 3px 3px 3px black;
    width: 60%;
    margin-top: 5em;
    margin-left: 18em;
    height: 60px;
    padding: 9px;
  }
  #hlo:hover{
    background-color: aquamarine;
  }
  #hlo button{
    font-size: 10px;
    background-color: rgb(163, 223, 10);
    margin-top: 10px;
  }
   #hlo .bu{
    background-color: brown;
    color: aliceblue;
  }
  #hlo h2 b{
    font-size: 39px;
  }
  #pa2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
  }
  #pa2 h3{
    font-size: 20px;
  }
  .alt{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: .1s ease;
  
  }
  marquee{
    margin-top: 90px;
  }
  #pa4{
    background-color: rgb(204, 32, 32);
    width: 80%;
    margin-left: 9em;
    height: 40%;
    margin-top: 250px;
    border-radius: 1em;
    margin-top: -150px;
    position: absolute;
  }
  .rine{
    display: flex;
    justify-content: space-around;
    
  
  }
  .rine img{
    margin-top: -108px;
    border-radius: 1em 1em 0 0;
  }
  .rine h1{
    padding-top: 40px;
  }
  .ios{
    background-color: rgb(19, 158, 200);
    display: flex;
    border-radius: 1em;
    color: white;
    width: 150px;
    height: 45px;
    padding: 7px;
    gap: .5em;
  }
  .ios i{
    font-size: 30px;
  }
  .icon{
    display: flex;
    gap: .5em;
    margin-top: 20px;
  }
  .anu{
    background-color: rgb(127, 113, 113);
    height: 700px;
    margin-top: 25em;
  }
  .last{
    padding-top: 200px;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
    color: antiquewhite;
  }
  input{
  height:33px ;
  width: 179px;
  border: none;
  outline: none;
  
  
  }
  .last span{
    position: absolute;
    padding-top: 8px;
    padding-left: 8.5px;
    background-color: darkgoldenrod;
  }
  #siri{
    display: flex;
    justify-content: space-evenly;
    padding-top:100px ;
    color: antiquewhite;
  }
  h6{
    align-items: center;
    justify-content: center;
    font-size: 20px;
    display: flex;
    color: antiquewhite;
  }
  .sir i{
    font-size: 50px;
  }